/* 6. style css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

a {
    text-decoration: none;
}

.main-container {
    width: 1100px;
    margin: 0 auto;
}

/* style button */
.btn {
    padding: 1rem 1.5rem;
    background: #000068;
    color: white;
    border: 1.5px solid #000068;
    cursor: pointer;
}

/* style pre-title */
.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: black;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 1rem;
}

.pre-title::before {
    content: "";
    width: 20px;
    height: 1px;
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
}

/* style logo dan navbar */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: 0.2s ease-in-out;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
}

.logo a {
    color: #000068;
}

nav ul li a {
    color: #000068;
}

/* 11. style home section */
#home {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
}

.home-left {
    text-align: left;
}

.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 1rem;
    color: black;
}

.home-name span {
    color: #1c1c84;
}
.home-right img {
    width: 650px;
    height: 650px;
    padding-bottom: 10rem ;
    padding-left: 13rem;
}

.home-right {
    display: flex;
    justify-content: center;
}

section {
    padding-left: 3rem;
    padding-bottom: 5rem;
}

/* 13. style about section*/
#about {
    background-color: #000068;
    padding: 6rem 0;
}

.section-title-about {
    text-align: center;
    margin: 1rem 0 4rem;
    color: white;
    font-size: 2rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.about {
    padding: 3rem 2rem;
    text-align: center;
    background: white;
    border-radius: 0.7rem;
}

.about h4 {
    color: #000053;
    margin: 1.5rem 0;
}

.about p {
    color: #1c1c84;
}

.about-icon {

    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 15. style skills and education */
#skills {
    padding: 6rem  0;
    background: white;
}

.section-title-skills {
    text-align: center;
    margin: 1rem 0 4rem;
    color: #000068;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
}

.education line {
    padding: 1rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: #000042;
    position: relative;
}

.education-info {
    margin: 0.3rem 0;
    color: #1c1c84;
}

.education-date {
    margin-bottom: 0.3rem 0;
    color: #1c1c84;
}

.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #000042;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
    color: #1c1c84;
}

.skills-list p {
    margin-bottom: 1rem;
    color: #1c1c84;
}

.skills-list ul {
    margin-bottom: 2rem;
}
.skills-right {
    line-height: 2rem;
    padding: 0 1rem;
    color: #1c1c84;
}

/* 17. style contact section */
#contact {
    padding: 6rem 0;
    background-color: #000068;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-header {
    grid-column: 1 / -1;
    text-align: center;
    color: white;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: white;
    border: 1px solid white;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: gray;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid darkgray;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: white;
    color: #000068;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: white;
    color: black;
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: white;
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
    color: white;
}

.contact-item-detail p {
    color: white;
}

/* 22. style footer */
footer {
    margin-bottom: 0;
    padding: 4rem;
    background: white;
    text-align: center;
    color: #000068;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons a:hover {
    fill: black;
}

.footer-icons {
    fill: gainsboro;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}