/* 6. style css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

a {
    text-decoration: none;
}

.main-container {
    width: 1100px;
    margin: 0 auto;
}

